:root {
    --accent1: #0B3141;
    --accent2: #444444;
    --text1: #DDDDDD; 

}

.toast-container {
    width: 500px;
}

.toast-head {
    font-size: 20px;
    color: var(--accent2);
    background: var(--text1);
}

.toast-body {
 display: flex;
 justify-content: space-between;
 font-size: 17px;
 background: var(--accent2);
 color: var(--text1);
}
