.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 4em;
  z-index: 5;
  border: 2px solid red;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  pointer-events: none;
}

.class-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 0.333em;
  padding-bottom: 0.333em;
  padding-left: 0.667em;
  padding-right: 2em;
}

.sidebar {
  height: 100%;
  width: 40vw;

  background-color: #171717c0;
  backdrop-filter: blur(12px);

  border: 1px #444 solid;
  padding: 1.6667em;
  border-radius: 8px;

  pointer-events: auto;

  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.dummy {
  width: 100%;
  height: 100%;
}

.table-view-wrapper {
  width: 100%;
  height: 100%;
  border: 1px #444 solid;

  background-color: #111111c0;
  backdrop-filter: blur(12px);
  pointer-events: auto;
}
