.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 4em;
  z-index: 5;
  border: 2px solid red;

  pointer-events: none;
}

.sidebar {
  border: 1px solid green;
  width: 45em;
  height: 100%;
  
  pointer-events: auto;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f2eeb3;
  z-index: 0;
}
