.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #aaa;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/5faed358bd9652310a307212/1280x800/e8760e92644125f3cd97ad21aa0116a8/polestar_2.jpg");

}